:root {
  --primary-color: linear-gradient(to right, rgb(115, 224, 169) 0% , rgb(91, 104, 223) 100%);
  --secondary-color: linear-gradient(to right, rgb(106, 199, 206) 0%, rgb(103, 117, 248) 100%);
  --body-color: rgb(33, 30, 46);
  --glass-color: rgba(255, 255, 255, 0.01);
  --scroll-bar-color: rgb(59, 53, 80);
  --scroll-thumb-color: rgb(38, 33, 51);

  /*========== Font and typography ==========*/
  --body-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --title-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  --smaller-font-size: .5rem;

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-bold: 900;

  /*========== Margins Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ...*/
  --mb-0-25: .25rem;
  --mb-0-50: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
      --title-font-size: 2rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
  }
}
