.container {
  max-width: 1368px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.main {
  overflow: hidden;
}

.section {
  margin-bottom: var(--mb-3);
  margin-top: var(--mb-3);

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
  }

  &__title {
    padding: 4rem 0 3rem 0;
    font-size: var(--title-font-size);
  }
}

.view__all {
  padding: 4rem 0 3rem 0;
  font-weight: var(--font-bold);
  background: var(--primary-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
