.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.section {
  margin-bottom: var(--mb-3);
  margin-top: var(--mb-3);

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
  }

  &__title {
    margin-top: 4rem;
    font-size: var(--title-font-size);
  }
}

.view__all {
  font-weight: var(--font-bold);
  background: var(--primary-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 4rem;
}
