:root {
  --color-primary: linear-gradient(to right, #73E0A9 0%, #5B68DF 51%);
}

@media screen and (min-width: 1028px) {
  
}
/*==============================  ============================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #202020;
  font-family: sans-serif;
  margin: 1rem 0 0 0;
}

h1, h2, p, span, a, div {
  color: #FFF;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

button {
  height: 2rem;
  padding: 0 1rem 0 1rem;
  color: #FFF;
  cursor: pointer;
}

.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*============================== HEADER ============================*/
.header {

}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__img {
  width: 40px;
  height: 40px;
}

.header__icon {
  width: 40px;
}

.input {
  width: 200px;
  height: 2rem;
  background-color: transparent;
  border: 1px solid #73E0A9;
}

.nav {
  height: 150px;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.nav__open {

}

.nav__list {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav__item:hover {
  transition: .3s;
  text-decoration: underline;
}

.nav__buttons {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*============================== BUTTONS ============================*/
.button__default {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image-slice: 1;
  border-image: var(--color-primary);
  background-color: transparent;
  
}

.button__primary {
  background-image: var(--color-primary);
  border: none;
  border-radius: 1rem;
}

.hamburguer__button {
  cursor: pointer;
}

/*============================== HOME ============================*/


/*============================== HIDDEN GEMS ============================*/

/*============================== TOP COLLECTIONS ============================*/

/*============================== CREATE AND SELL YOUR NFT's ============================*/

/*==============================  ============================*/

/*============================== FOOTER ============================*/

@media screen and (min-width: 1024px) {
  .container {
    margin: auto;
  }
}