.button__default {
  position: relative;
  box-sizing: border-box;
  color: #FFF;
  background: #202020;
  background-clip: padding-box;
  border: solid 2px transparent; 
  border-radius: 2em;
  
}

.button__default::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: var(--color-primary);
}

.button__primary {
  background-image: var(--color-primary);
  border: none;
  border-radius: 2.5rem;
}

.hamburguer__button {
  cursor: pointer;
}

.hamburguer__icon {
  font-size: 3.5rem;
  background: var(--color-primary);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.icon {
  font-size: 1.25rem;
  background: var(--color-primary);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-right: .5rem;
}