/*============================== FOOTER ============================*/
.footer {
  margin-top: 6rem;
  background-color: rgb(27, 24, 37);

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__content {
    width: 250px;
    margin-bottom: 4rem;
    margin-top: 6rem;
  }

  &__image {
    width: 70px;
    margin-bottom: .75rem;
  }
  
  &__title {
    margin-bottom: 1rem;
    font-size: var(--h2-font-size);
  }
  
  &__description {
    text-align: justify;
  }

  &__list__container {
    margin-bottom: 2rem; 
  }

  &__list__content {
    margin-bottom: 3rem;
  }

  &__list__title {
    font-size: var(--normal-font-size);
    background: var(--primary-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: .5rem;
  }

  &__list__link {
    margin-bottom: .75rem;
  
    a {
      font-size: var(--small-font-size);
    }
  }

  &__socials {
    width: 150px;
  }

  &__button {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
    background: var(--body-color);
    background-clip: padding-box;
    border: solid 2px transparent; 
    border-radius: .5rem;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit;
      background: var(--primary-color);
    }

    i {
      font-size: 1.5rem;
      background: var(--primary-color);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
}

.socials__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}





.social__icon {
  
}