/*============================== HIDDEN GEMS ============================*/
.hidden {
  &__cards {
    display: flex;
    overflow-x: auto;
  }

  &__cards::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__card {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem .75rem;
    border-radius: 2rem;
    margin-right: 1.25rem;
    margin-left: .2rem;
    position: relative;
    background: var(--body-color);
    background-clip: padding-box;
    margin-top: var(--mb-1);
    margin-bottom: var(--mb-1);
  }

  &__card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: var(--primary-color);
  }
}

.card {
  &__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: var(--mb-2);
  }

  &__user {
    width: 40px;
    position: absolute;
    bottom: -1rem; 
  }

  &__title {
    text-align: center;
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-50);
  }
  
  &__subtitle {
    font-size: var(--normal-font-size);
    display: block;
    text-align: center;
    margin-bottom: var(--mb-1);

    &__user {
      background: var(--secondary-color);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }

  &__description {
    text-align: justify;
    font-size: var(--normal-font-size);
  }
}
