/*============================== HOME ============================*/
.home {
  margin-top: 20rem;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: var(--title-font-size);
    text-align: start;
    margin-bottom: var(--mb-3);
  }

  &__subtitle {
    font-size: var(--small-font-size);
    display: block;
    margin-bottom: var(--mb-1);
    font-weight: var(--font-light);
  }
}

.home .button__default {
  margin-bottom: var(--mb-1);
}

.learn__more {
  margin-top: 4rem;

  &__link {
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
  }
}
