/*============================== HOME ============================*/
.home {
  margin-top: 20rem;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: var(--title-font-size);
    text-align: start;
    margin-bottom: 3rem;
  }

  &__subtitle {
    font-size: .750rem;
    display: block;
    margin-bottom: 1rem;
    color: #ccc;
  }
}

.home .button__default {
  margin-bottom: 1rem;
}

.learn__more {
  margin-top: 4rem;

  &__link {
    font-size: .8rem;
    display: inline-flex;
    align-items: center;
  }
}
