/*============================== MEDIA QUERIES ============================*/
@media screen and (min-width: 368px) {
  .home__content--image {
    width: 50%;
  }

  .bullets__content {
    width: 300px;
  }
}

@media screen and (min-width: 568px) {
  body {
    background-size: 60%;
  }

  .input {
    width: 300px;
  }

  .home {
    &__content {
      width: 70%;
    }

    &__content--image {
      width: 40%;
    }
  }

  .button__default {
    margin-right: var(--mb-1);
  }

  .hidden {
    &__cards {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
    }

    &__card {
      width: 48%;
      max-width: 300px;
    }
  }

  .card__collections {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  .card__collection {
    width: 48%;
    max-width: 300px;
  }

  .bullets {
    &__container {
      justify-content: space-between;
      margin-top: 6rem;
    }
  
    &__content {
      width: 45%;
    }
  }

  .footer {
    margin-top: 10rem;

    &__content {
      margin-bottom: var(--mb-3);
    }

    &__list__container {
      display: flex;
      justify-content: space-between;
      width: 400px;
    }

    &__list__content {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .section {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .home__container {
    margin-top: 15rem;
  }

  .input {
    margin-left: var(--mb-2);
  }
  
  .hidden {
    &__card {
      width: 31%;
    }
  }

  .card__collections {
    min-width: 200px;
    justify-content: start;
  }
  
  .card__collection {
    width: 31%;
    margin-right: var(--mb-1);
  }

  .bullets__content {
    width: 200px;
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__links__container {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 968px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home__container {
    margin-top: 20rem;
  }

  .input {
    width: 250px;
  }

  .hamburguer__button {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    width: 600px;

    &__list {
      flex-direction: row;
      height: 100%;
      width: 250px;
      justify-content: space-between;
    }

    &__buttons {
      flex-direction: row; 
      height: 100%;
      justify-content: space-between;
    }
  }

  .hidden {
    &__card {
      width: 32%;
      overflow-x: unset;
      margin-right: 0.1rem;
    }

    &__cards {
      justify-content: space-between;
    }
  }

  

  .card{
    &__collections {
      justify-content: space-between;
      margin-right: 0;
    }

    &__collection {
      width: 220px;
      margin-right: 0;
    }
  }

  

  .footer{
    &__links__container {
      display: flex;
    }

    &__list__container {
      margin-right: 4rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin: auto;
  }

  .home__container {
    margin-top: 20rem;
  }

  .card__collection {
    width: 230px;
  }
}

@media screen and (min-width: 1268px) {
  body {
    background-size: 40%;
  }

  .home {
    margin-top: 25rem;
  }
}