:root {
  --primary-color: linear-gradient(to right, rgb(115, 224, 169) 0% , rgb(91, 104, 223) 100%);
  --secondary-color: linear-gradient(to right, rgb(106, 199, 206) 0%, rgb(103, 117, 248) 100%);
  --body-color: rgb(33, 30, 46);
  --glass-color: rgba(255, 255, 255, 0.01);
  --scroll-bar-color: rgb(59, 53, 80);
  --scroll-thumb-color: rgb(38, 33, 51);
  /*========== Font and typography ==========*/
  --body-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --title-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  --smaller-font-size: .5rem;
  /*========== Font weight ==========*/
  --font-light: 300;
  --font-bold: 900;
  /*========== Margins Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ...*/
  --mb-0-25: .25rem;
  --mb-0-50: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --title-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  background-image: url("../../Img/globe.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 80%;
  font-family: var(--body-font);
}

h1, h2, p, span, a, div {
  color: #FFF;
}

p {
  font-size: var(--normal-font-size);
  line-height: 1.25rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

.container {
  max-width: 1368px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.section {
  margin-bottom: var(--mb-3);
  margin-top: var(--mb-3);
}
.section__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}
.section__title {
  padding: 4rem 0 3rem 0;
  font-size: var(--title-font-size);
}

.view__all {
  padding: 4rem 0 3rem 0;
  font-weight: var(--font-bold);
  background: var(--primary-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*============================== HOME ============================*/
.home {
  margin-top: 20rem;
}
.home__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home__content {
  display: flex;
  flex-direction: column;
}
.home__title {
  font-size: var(--title-font-size);
  text-align: start;
  margin-bottom: var(--mb-3);
}
.home__subtitle {
  font-size: var(--small-font-size);
  display: block;
  margin-bottom: var(--mb-1);
  font-weight: var(--font-light);
}

.home .button__default {
  margin-bottom: var(--mb-1);
}

.learn__more {
  margin-top: 4rem;
}
.learn__more__link {
  font-size: var(--small-font-size);
  display: inline-flex;
  align-items: center;
}

/*============================== HEADER ============================*/
.header {
  background-color: var(--glass-color);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: var(--mb-0-50);
  padding-bottom: var(--mb-0-50);
  z-index: 100;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__icon {
  width: 40px;
}

.logo__img {
  width: 40px;
  height: 40px;
}

.nav {
  display: none;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nav__item:hover {
  transition: 0.3s;
  text-decoration: underline;
}
.nav__buttons {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.open__nav {
  display: flex;
}

/*============================== HIDDEN GEMS ============================*/
.hidden__cards {
  max-width: 968px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}
.hidden__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 0.75rem;
  border-radius: 2rem;
  position: relative;
  background: var(--body-color);
  background-clip: padding-box;
  transition: 0.3s;
}
.hidden__card:hover {
  background-color: #FFF;
}
.hidden__card:hover .hidden__card__title,
.hidden__card:hover .hidden__card__subtitle,
.hidden__card:hover .hidden__card__description {
  color: #202020;
}
.hidden__card__images {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: var(--mb-2);
}
.hidden__card__image {
  width: 100%;
}
.hidden__card__user {
  width: 40px;
  position: absolute;
  bottom: -1rem;
}
.hidden__card__title {
  text-align: center;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-0-50);
}
.hidden__card__subtitle {
  font-size: var(--normal-font-size);
  display: block;
  text-align: center;
  margin-bottom: var(--mb-1);
}
.hidden__card__subtitle__user {
  background: var(--secondary-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.hidden__card__description {
  text-align: center;
  font-size: var(--normal-font-size);
  letter-spacing: 0.2px;
}
.hidden__card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: var(--primary-color);
}

/*============================== TOP COLLECTIONS ============================*/
.card__collections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.card__collection {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #FFF;
  background: #211e2e;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 1em;
  transition: 0.3s;
}
.card__collection::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: var(--primary-color);
}
.card__collection__image {
  border-radius: 1rem 1rem 0 0;
}
.card__collection__container {
  width: 90%;
  background-color: #040425;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 1.5rem;
}
.card__collection__content {
  height: 5rem;
  border-bottom: 1px solid #73E0A9;
  display: flex;
  align-items: center;
}
.card__collection__title {
  font-size: 0.75rem;
}
.card__collection__subtitle {
  font-size: 0.6rem;
}
.card__collection__image__user {
  width: 30px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}
.card__collection__price__content {
  padding: 0.5rem;
  margin-left: var(--mb-1);
}
.card__collection__price__title {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: lighter;
}
.card__collection__price {
  font-size: 1rem;
  font-weight: bold;
}
.card__collection:hover {
  background-color: #FFF;
}

.bullets__cards {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}
.bullets__card {
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  width: 100%;
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bullets__image {
  width: 80px;
  margin-bottom: var(--mb-1);
}
.bullets__title {
  text-align: center;
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
}
.bullets__description {
  text-align: center;
  font-weight: 100;
  letter-spacing: 0.2px;
}

/*============================== FOOTER ============================*/
.footer {
  margin-top: 6rem;
  background-color: rgb(27, 24, 37);
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__content {
  width: 250px;
  margin-bottom: 4rem;
  margin-top: 6rem;
}
.footer__image {
  width: 70px;
  margin-bottom: 0.75rem;
}
.footer__title {
  margin-bottom: 1rem;
  font-size: var(--h2-font-size);
}
.footer__description {
  text-align: justify;
}
.footer__list__container {
  margin-bottom: 2rem;
}
.footer__list__content {
  margin-bottom: 3rem;
}
.footer__list__title {
  font-size: var(--normal-font-size);
  background: var(--primary-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 0.5rem;
}
.footer__list__link {
  margin-bottom: 0.75rem;
}
.footer__list__link a {
  font-size: var(--small-font-size);
}
.footer__socials {
  width: 150px;
}
.footer__button {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
  background: var(--body-color);
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 0.5rem;
}
.footer__button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: var(--primary-color);
}
.footer__button i {
  font-size: 1.5rem;
  background: var(--primary-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.socials__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input {
  width: 60%;
  height: 2rem;
  padding-left: 2rem;
  font-size: var(--normal-font-size);
  color: #FFF;
  background: transparent;
  outline: none;
  border: double 2px transparent;
  border-radius: 1rem;
  background-image: linear-gradient(var(--body-color), var(--body-color)), var(--primary-color);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

button {
  font-weight: var(--font-bold);
  color: #FFF;
  cursor: pointer;
}

.button__header__primary {
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-image: var(--primary-color);
  border: none;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
}
.button__header__default {
  padding: 0.4rem 2rem 0.4rem 2rem;
  position: relative;
  color: #FFF;
  background: #211e2e;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 2em;
  margin-right: 1rem;
}
.button__header__default::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: var(--primary-color);
}
.button__primary {
  width: 150px;
  font-size: var(--normal-font-size);
  padding: 0.9rem 0 0.9rem 0;
  background-image: var(--primary-color);
  border: none;
  border-radius: 2.5rem;
}
.button__default {
  width: 150px;
  font-size: var(--normal-font-size);
  padding: 0.8rem 0 0.8rem 0;
  position: relative;
  color: #FFF;
  background: #211e2e;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 2em;
}
.button__default::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: var(--primary-color);
}
.button__icon {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.hamburguer__button {
  cursor: pointer;
}
.hamburguer__icon {
  font-size: 3.5rem;
  background: var(--primary-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.icon {
  font-size: 1.25rem;
  background: var(--primary-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-right: 0.5rem;
}

/*============================== MEDIA QUERIES ============================*/
@media screen and (min-width: 368px) {
  .home__content--image {
    width: 50%;
  }
}
@media screen and (min-width: 568px) {
  body {
    background-size: 60%;
  }

  .input {
    width: 300px;
  }

  .home__content {
    width: 70%;
  }
  .home__content--image {
    width: 40%;
  }

  .button__default {
    margin-right: var(--mb-1);
  }

  .hidden__content {
    display: flex;
    justify-content: center;
  }

  .footer {
    margin-top: 10rem;
  }
  .footer__content {
    margin-bottom: var(--mb-3);
  }
  .footer__list__container {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  .footer__list__content {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .section {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .home__container {
    margin-top: 15rem;
  }

  .input {
    margin-left: var(--mb-2);
  }

  .bullets__content {
    width: 200px;
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__links__container {
    margin-top: 6rem;
  }
}
@media screen and (min-width: 968px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home__container {
    margin-top: 20rem;
  }

  .input {
    width: 250px;
  }

  .hamburguer__button {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    width: 600px;
  }
  .nav__list {
    flex-direction: row;
    height: 100%;
    width: 250px;
    justify-content: space-between;
  }
  .nav__buttons {
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
  }

  .collection__cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  }

  .hidden__cards {
    justify-content: space-between;
  }

  .footer__links__container {
    display: flex;
  }
  .footer__list__container {
    margin-right: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .home__container {
    margin-top: 20rem;
  }

  .header__content {
    width: 35%;
  }

  .input {
    width: 90%;
  }
}
@media screen and (min-width: 1168px) {
  body {
    background-size: 40%;
  }

  .home {
    margin-top: 25rem;
  }
}
@media screen and (min-width: 1368px) {
  .container {
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
